.more-about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60rem;
  margin: 1rem auto;
  padding: 1rem;
  opacity: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 7px 21px rgba(0, 0, 0, 0.08);
  transform: translateY(30px);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.3s;
}

.more-about-content {
  width: 100%;
  max-width: 50rem;
  margin: auto;
  padding: 0;
  border-radius: 0;
  background: #fff;
  box-shadow: none;
  background-color: var(--background-color);
}

.more-about-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondary-color, #ee1b0f);
  background-color: var(--background-color);
}

.more-about-text {
  line-height: 1.7;
  text-align: justify;
  text-align-last: left;
  overflow-wrap: break-word;
  word-break: normal;
  hyphens: auto;
  margin-bottom: 1rem;
  padding: 0;
  font-size: 1.1rem;
  color: var(--primary-color);
  background-color: var(--background-color);
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .more-about-section {
    flex-direction: column;
    padding: 1.5rem;
  }

  .more-about-content {
    max-width: 100%;
    padding: 1.5rem;
  }

  .more-about-text {
    font-size: 0.9rem;
  }
}