@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
  --font-family: 'Mulish', sans-serif;
  --normal-font: 400;
  --font-style: normal;
  --secondary-font-style: italic;
  --bold-font: 700;
  --bolder-font: 1000;
  --background-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #ee1b0f;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

:root.dark-mode {
  --background-color: #000000;
  --primary-color: #ffffff;
  --secondary-color: #ee1b0f;
  --primary-shadow: #222222;
  --secondary-shadow: #444444;
}

html {
  scroll-behavior: smooth;
  word-break: break-all;
  scrollbar-color: black white;
  scrollbar-width: thin;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--primary-color);
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--primary-color);
}

body.dark-mode {
  --background-color: #000000;
  --primary-color: #ffffff;
  --secondary-color: #ee1b0f;
  --primary-shadow: #222222;
  --secondary-shadow: #444444;
}

body.dark-mode .tagline {
  color: var(--secondary-color);
}
body.dark-mode #about,
body.dark-mode .hero-img {
  background-color: var(--background-color);
  color: var(--primary-color);
  opacity: 0.9;
}

body.dark-mode .project-card {
  box-shadow: 0 0px 10px var(--secondary-color);
}

body.dark-mode .bio,
body.dark-mode .more-about-section {
  background-color: var(--background-color);
  box-shadow: 0 0px 25px var(--primary-shadow);
}


body.dark-mode .contact-form-wrapper {
  box-shadow: 0 0px 25px var(--secondary-color);
}


#about,
#hero-component,
#projects-component,
#skills-component,
#contact-component,
#footer-component,
#modal-component,
#modal-skills-component,
#social-icons-component {  
  background-color: var(--background-color);
}

/* Webkit (Chrome, Edge, Opera, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
 }
   
::-webkit-scrollbar-track-piece {
  background-color: {color:black};
 }
   
::-webkit-scrollbar-thumb:vertical {
  background-color: black;
}
   
::-webkit-scrollbar-thumb:horizontal {
  background-color: black;
}

::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--background-color);
}

a:hover {
  color: var(--primary-color);
}


.close-btn {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

#footer-icons {
  background-color: var(--background-color);
}




