/* login.css */
.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 1rem;
  margin-top: -9rem;
}

.login-card {
  width: 100%;
  max-width: 400px;
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 20px var(--primary-shadow);
  transition: transform var(--transition), box-shadow var(--transition);
  z-index: 1;
}

.login-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 30px var(--secondary-shadow);
}

.login-header {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
  background-color: var(--background-color);
}

.login-header h2 {
  font-size: 2rem;
  font-weight: var(--bolder-font);
  margin-bottom: var(--bottom-margin);
  color: var(--secondary-color);
  background-color: var(--background-color);
}

.login-header p {
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--background-color);
}

.login-form label {
  font-weight: var(--bold-font);
  margin-bottom: 0.3rem;
  display: block;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.login-form input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid var(--primary-shadow);
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--background-color);
  color: var(--primary-color);
  transition: border var(--transition), box-shadow var(--transition);
}

.login-form input:focus {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0 0 8px var(--secondary-shadow);
  background-color: var(--background-color);
}

.form-input {
  background-color: var(--background-color);
}

.login-form p {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.login-button {
  width: 100%;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: white;
  font-weight: var(--bold-font);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color var(--transition), transform var(--transition);
}

.login-button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  transform: scale(1.03);
}

.login-error {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
  background-color: var(--background-color);
}

/* Dark mode ajustes */
body.dark-mode .login-card {
  background-color: var(--background-color);
  box-shadow: 0 0 15px var(--secondary-shadow);
}

body.dark-mode .login-form input {
  border: 1px solid var(--secondary-shadow);
}

