.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal-container {
  background: var(--background-color);
  color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-cancel,
.btn-confirm {
  font-family: var(--font-family);
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.btn-cancel {
  background: #ccc;
}

.btn-confirm {
  background: var(--secondary-color);
  color: #fff;
}
