@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

html {
    scroll-behavior: smooth;    
    word-break: break-all;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--primary-color);    
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--background-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  text-decoration: var(--bold-font);
}

.nav-title-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-color);
  margin-left: 4.2rem;
}

.header-title {
  font-size: xx-large;
  font-weight: var(--bolder-font);
  background-color: var(--background-color);
  color: var(--primary-color);
}


nav h1.header-title {
  color: var(--primary-color);
  font-size: xx-large;
  font-variant: var(--bolder-font);
  font-weight: 100;
  font-style: var(--bolder-font);
}

nav a.nav-link {
  color: var(--secondary-color);
}

nav a.nav-link:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul.navigation {
  display: flex;
  gap: 1.7rem;
  background-color: var(--background-color);
  text-decoration: var(--bold-font);
  list-style: none;
  margin-right: 4.2rem;
}

nav ul.navigation li {
  font-weight: var(--bold-font);
}

.hamburger {
  display: none; /* Oculta en escritorio */
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  margin-left: auto;
  bottom: 0.1rem;
}

.hamburger:focus {
  outline: 2px solid var(--secondary-color);
}

.tagline {
  font-size: 0.7rem;
  font-weight: 500;
  font-style: italic;
  color: var(--primary-shadow);
  background-color: var(--background-color);
}

body.dark-mode nav {
  box-shadow: 0 0px 15px var(--secondary-shadow);
}


@media (max-width: 768px) {
.hamburger {
    display: block;
  }

  nav {
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-title-group {
    align-items: flex-start;
    margin-bottom: 0.1rem;
    margin-left: 1.5rem;
  }

  .header-title {
    font-size: 1.1rem;
  }

  .tagline {
    font-size: 0.5rem;
  }

  nav ul.navigation {
    display: none;
    flex-direction: column;
    gap: 0.8rem;
    width: 200rem;
    background-color: var(--background-color);
    position: absolute;
    top: 0.1rem;
    align-items: center;
    padding: 1rem 0;
    right: 1rem;
  }

  nav ul.navigation li {
    font-size: 0.95rem;
  }
nav ul.navigation.show {
    display: flex; /* Muestra links al activar */
  }
}

body.dark-mode .hamburger {
  color: var(--primary-color);
}

body.dark-mode nav ul.navigation {
  background-color:var(--background-color);
}

@media (max-width: 480px) {
  nav {
    padding: 0.8rem 1rem;
  }

  .header-title {
    font-size: 1.2rem;
  }

  nav ul.navigation {
    gap: 0.5rem;
  }

  nav ul.navigation li {
    font-size: 0.9rem;
  }
}
