.modal-projects {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal-projects--show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal-projects--hide {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

.modal-projects__content {
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 8% auto;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-100vh) scale(0.95);
  opacity: 0;
  transition: transform 0.9s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.5s ease;
}

.modal-projects--show .modal-projects__content {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.modal-projects--hide .modal-projects__content {
  transform: translateY(100vh) scale(1.01);
  opacity: 0;
}

.modal-projects__header {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
  margin-bottom: 1rem;
}

.modal-projects__header h2 {
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 0;
  font-size: 1.5rem;
}

.modal-projects__close-btn {
  background-color: var(--background-color);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #888;
}

.modal-projects__close-btn:hover {
  color: #333;
}

.modal-projects__body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.modal-projects__body p {
  background-color: var(--background-color);
  color: var(--primary-color);
  margin: 0.5rem 0;
}


.modal-projects__description {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.modal-projects__tools {
  background-color: var(--background-color);
  color: var(--primary-color);
  margin-top: 1rem;
  font-style: italic;
}

.modal-projects__body span {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.modal-projects__body strong {
  background-color: var(--background-color);
  color: var(--primary-color);
}

body.dark-mode .modal-projects {
  background-color: rgba(20, 20, 20, 0.8);  
  box-shadow: 0 3px 10px var(--primary-shadow);
}


