<!-- Footer Section -->
    <footer class="page-footer">
      Bye
      <section class="footer-icons" id="footer-icons">
        <div class="footer-icons-container">
          <div class="first-set-footer-icons">
            <a href="indexPost.html" target="_blank">
              <img
                src="ALL/ICO/horse-svgrepo-com.svg"
                alt="hey"
                title="hey"
                loading="lazy"
                class="footer-icon"
              />
            </a>
            <a href="indexPost.html" target="_blank">
              <img
                src="ALL/ICO/horse-face-svgrepo-com.svg"
                alt="guey"
                title="guey"
                loading="lazy"
                class="footer-icon"
              />
            </a>
            <a href="indexPost.html" target="_blank">
              <img
                src="ALL/ICO/horse-svgrepo-com-2.svg"
                alt="neigh"
                title="bai"
                loading="lazy"
                class="footer-icon"
              />
            </a>
          </div>
        </div>
      </section>
    </footer>