<!-- Hero Section -->
    <section class="hero" id="about">
      <img src="ALL/IMG/cara-mia-new.webp" alt="lu-by-tity" loading="lazy" class="hero-img" />
      <div class="bio">
        <h2 class="bio-title" id="bio-title">Hello</h2>
        <p class="bio-text">
          Is it me you looking for.
          <br>
          I hope you do. And if you don't, then stay and look around. Feedback is always welcome.
          <br>
          This page is a work in progress in case you haven't noticed. This portfolio is part CV, part playground. So feel free to explore.
          I'm Lu btw. QA tester and web developer-in-progress based in Montevideo, for now.
          <br>
          I started this site as a way to bring my ideas, projects, and odd skills together in one place.
          <br>
          I hope you enjoy your stay and everything works as planned, and if not, please report!
        </p>
      </div>
    </section>