<section class="social-icons" id="social-icons">
  <a href="#" id="dark-mode-toggle" title="Toggle Dark Mode">
    <img
      src="ALL/ICO/costado-red-1443-svgrepo-com.svg"
      alt="change-it"
      loading="lazy"
      class="social-icon"
    />
  </a>
  <a href="https://www.linkedin.com/in/luciana-rossi-figueroa/" target="_blank">
    <img
      src="ALL/ICO/linkedin.svg"
      alt="LinkedIn"
      loading="lazy"
      class="social-icon"
    />
  </a>
  <a href="https://github.com/sambuchito" target="_blank">
    <img
      src="ALL/ICO/costado-github-142-svgrepo-com.svg"
      alt="Github"
      class="social-icon"
    />
  </a>
  <a href="#top" class="scroll-top">
    <img
      src="ALL/ICO/up.svg"
      alt="go-up"
      loading="lazy"
      class="social-icon"
    />
  </a>
</section>
