<section class="social-icons" id="social-icons">
  <a href="javascript:void(0);" id="dark-mode-toggle" title="change-it">
    <img
      src="ALL/ICO/costado-red-1443-svgrepo-com.svg"
      alt="Toggle Dark Mode"
      loading="lazy"
      class="social-icon"
      onclick="initDarkMode()"
    />
  </a>
  <a href="https://www.linkedin.com/in/luciana-rossi-figueroa/" title="get-in" target="_blank">
    <img
      src="ALL/ICO/linkedin.svg"
      alt="LinkedIn"
      loading="lazy"
      class="social-icon"
    />
  </a>
  <a href="https://github.com/sambuchito" title="git-in" target="_blank">
    <img
      src="ALL/ICO/costado-github-142-svgrepo-com.svg"
      alt="Github"
      class="social-icon"
    />
  </a>
  <a href="#top" title="up" class="scroll-top">
    <img
      src="ALL/ICO/up.svg"
      alt="go-up"
      loading="lazy"
      class="social-icon"
    />
  </a>
</section>
