<!-- Social Icons Section (Fixed right) -->
 <section class="social-icons" id="social-icons"></section>
    <div class="social-icons">
      <a href="#" target="_blank"
        ><img
          src="ALL/ICO/costado-red-1443-svgrepo-com.svg"
          alt="change-it"
          loading="lazy"
          class="social-icon"
      /></a>
      <a href="#" target="_blank"
        ><img
          src="ALL/ICO/costado-linkedin-161-svgrepo-com.svg"
          alt="LinkedIn"
          loading="lazy"
          class="social-icon"
      /></a>
      <a href="#" target="_blank"
        ><img
          src="ALL/ICO/costado-github-142-svgrepo-com.svg"
          alt="Github"
          class="social-icon"
      /></a>
      <a href="#" target="_blank"
        ><img
          src="ALL/ICO/costado-youtube-168-svgrepo-com.svg"
          alt="go-up"
          loading="lazy"
          class="social-icon"
      /></a>
      
    </div>